/* https: //en.bestfonts.pro/font/recoleta */
@font-face {
  font-family: "Recoleta";
  font-weight: 500;
  font-display: fallback;
  font-style: normal;
  src: url("../assets/fonts/Recoleta-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta";
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
  src: url("../assets/fonts/Recoleta-Regular.woff2") format("woff2");
}
